.container {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: black;
  margin:0;
  padding:30px 20px;
}

.full-grid-width {
  width: 100%;
}

.mat-column-actions {
  width: 15%;
  text-align: center;
}

.mat-column-id {
  width: 10%;
}

.mat-column-title {
  width: 35%
}

.mat-column-teamAssigned {
  width: 10%
}

.mat-column-type {
  width: 15%
}

.mat-column-severity {
  width: 10%;
}
.mat-column-duplicateOf {
  width: 10%;
}
.grid-flush-left {
  position: absolute;
  left: 5px;
}

.grid-flush-right {
  position: absolute;
  right: 5px;
}
