<div>
  <app-issue-title *ngIf="!isIssueLoading" [issue]="issue" (issueUpdated)="updateIssue($event)"></app-issue-title>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="column left">
      <app-issue-description *ngIf="!isIssueLoading" [issue]="issue" title="Description of Issue" (issueUpdated)="updateIssue($event)"></app-issue-description>

      <div *ngIf="comments">
        <app-issue-comment *ngIf="!isCommentsLoading && comments.teamResponse" [comments]="comments"
                           [isEditing]="isEditing" (updateEditState)="updateEditState($event)"
                           attributeName="teamResponse" (commentsUpdated)="updateComments($event)"></app-issue-comment>
        <app-new-team-response *ngIf="permissions.canCRUDTeamResponse() && !isCommentsLoading && !comments.teamResponse"
                               [comments]="comments" [issue]="issue" (issueUpdated)="updateIssue($event)"
                               (commentsUpdated)="updateComments($event)"></app-new-team-response>
      </div>

      <div *ngIf="isCommentsLoading"
                style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
      </div>
    </div>

    <div class="column right">
      <div *ngIf="!isCommentsLoading" [style.visibility]="comments.teamResponse ? 'visible' : 'hidden'">
        <app-issue-label [issue]="issue" attributeName="severity" (issueUpdated)="updateIssue($event)"></app-issue-label>
        <mat-divider></mat-divider>
        <app-issue-label [issue]="issue" attributeName="type" (issueUpdated)="updateIssue($event)"></app-issue-label>
        <mat-divider></mat-divider>
        <app-issue-label [issue]="issue" attributeName="responseTag" (issueUpdated)="updateIssue($event)"></app-issue-label>
        <mat-divider></mat-divider>
        <app-assignee-component [issue]="issue" [team]="issue.teamAssigned" (issueUpdated)="updateIssue($event)"></app-assignee-component>

        <div *ngIf="(issueService.getDuplicateIssuesFor(issue) | async).length !== 0" style="margin-bottom: 15px;">
          <mat-divider></mat-divider>
          <app-duplicated-issues-component [issue]="issue" [comments]="comments"></app-duplicated-issues-component>
        </div>
        <div *ngIf="!!issue.duplicateOf || (issueService.getDuplicateIssuesFor(issue) | async).length === 0">
          <mat-divider></mat-divider>
          <app-duplicate-of-component [issue]="issue" [comments]="comments" (issueUpdated)="updateIssue($event)"
                                      (commentsUpdated)="updateComments($event)"></app-duplicate-of-component>
        </div>
        <div style="margin-top: 15px; color: red" *ngIf="((issueService.getDuplicateIssuesFor(issue) | async).length !== 0) &&
            (!!issue.duplicateOf || (issueService.getDuplicateIssuesFor(issue) | async).length === 0)">
          * Need your resolution. An issue cannot have both duplicated issues and duplicated status.
        </div>
      </div>
    </div>
  </div>
</div>
