.container {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: black;
  margin: 0;
  padding: 30px 20px;
}

.mat-column-id {
  width: 5%;
}

.mat-column-title {
  width: 20%;
}

.mat-column-type {
  width: 11%;
}

.mat-column-severity {
  width: 6%;
}
.mat-column-responseTag {
  width: 10%;
}
.mat-column-assignees {
  width: 10%;
}
.mat-column-teamAssigned {
  width: 6%;
}
.mat-column-duplicatedIssues {
  width: 10%;
}
.mat-column-actions {
  width: 13%;
  text-align: center;
}

.grid-flush-right {
  position: absolute;
  right: 5px;
}
