<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>Issues Responded</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-grid-list cols="3" rowHeight="60px">
    <mat-grid-tile>
      <mat-form-field class="full-grid-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <app-issue-tables [headers]="this.displayedColumns" [actions]="this.actionButtons" [filters]="this.filter"></app-issue-tables>
</mat-expansion-panel>
