<mat-expansion-panel expanded (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header [expandedHeight]="'70px'">
    <mat-panel-title> Faulty Issues </mat-panel-title>
    <mat-panel-description>
      <mat-form-field style="width: 100%" *ngIf="panelOpenState">
        <input
          matInput
          (click)="$event.stopPropagation()"
          (keyup)="applyFilter($event.target.value)"
          (keydown.space)="$event.stopPropagation()"
          (keydown.enter)="$event.stopPropagation()"
          placeholder="Search"
        />
      </mat-form-field>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-issue-tables [headers]="this.displayedColumns" [actions]="this.actionButtons" [filters]="this.filter"></app-issue-tables>
</mat-expansion-panel>
