<div>
  <span class="mat-title"> Todo List
    <button *ngIf="!isInEditMode"  (click)="openSelector()" mat-icon-button>
    <mat-icon style="font-size: 20px; color: #586069"> edit </mat-icon>
  </button>
    <button *ngIf="isInEditMode" (click)="done()" mat-icon-button> Done
  </button>
  </span>
  <div class="container" *ngFor="let todo of issue.todoList; index as i; trackBy: trackTodoList">
    <div>
      <mat-checkbox style="display: inline-block; width: 20%" [disabled]="!isInEditMode" [checked]="isTodoChecked(i)" (change)="handleChangeOfTodoCheckbox($event, todo, i)">
        {{ todo.substring(6) }}
      </mat-checkbox>
    </div>
    <br>
  </div>
  <div class="container">
    <span *ngIf="isTodoListChecked"> <b>All tasks are completed</b> </span>
    <span *ngIf="!isTodoListChecked && isTodoListExists">{{ issue.todoList.length - todoFinished }} of {{ issue.todoList.length }} remaining</span>
    <progress *ngIf="isTodoListExists" value={{todoFinished}} max={{issue.todoList.length}} role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></progress>
  </div>
</div>
