# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/app-builds
/release
main.js
src/**/*.js
*.js.map

# tests coverage
/tests/coverage/*

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
CATcher.iml

# IDE - VSCode
.vscode/*
!.vscode/launch.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
package-lock.json
profiles.json

# e2e
/e2e/*.js
!/e2e/*.conf.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# graphql types
graphql/graphql-types.ts
/test-results/
/playwright-report/
/playwright/.cache/
