::ng-deep .white-text .mat-select-value-text {
  color: white !important;
}

::ng-deep .black-text .mat-select-value-text {
  color: black !important;
}

.infoPopup {
  border: none;
  outline: none;
  text-align: center;
}

.labelLine {
  display: flex;
  flex-direction: row;
  flex-grow: 1; 
  flex-basis: auto; 
}

.labelInfo {
  flex-direction: row;
  flex-grow: 1; 
  flex-basis: auto; 
}

.labelInfo:nth-child(2) {
  width: 80%;
}