::ng-deep .white-text .mat-select-value-text {
  color: white !important;
}

::ng-deep .black-text .mat-select-value-text {
  color: black !important;
}

.infoPopup {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
}

.labelLine {
  display: grid;
  grid-template-columns: auto 20%;
}
