<form [formGroup]="newTeamResponseForm" #myForm="ngForm" (ngSubmit)="submitNewTeamResponse(myForm)">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span style="vertical-align: middle; margin-left: 10px"> Post your team's response here. </span>

      <div style="float: right;">
        <button type="submit" style="margin-left: 10px" [disabled]="newTeamResponseForm.invalid || isFormPending" mat-button color="primary">Submit</button>
      </div>
    </div>

    <div>
      <div class="container">
        <div>
          <mat-checkbox style="display: inline-block; width: 20%" formControlName="duplicated" (change)="handleChangeOfDuplicateCheckbox($event)">
            Duplicated Issue
          </mat-checkbox>

          <mat-form-field [style.visibility]="!duplicated.value ? 'hidden' : 'visible'" style="display: inline-block; width: 50%">
            <mat-select formControlName="duplicateOf" placeholder="Duplicate of">
              <mat-option *ngFor="let issue of duplicatedIssueList | async" [disabled]="dupIssueOptionIsDisabled(issue)" [value]="issue.id">
                <span class="mat-body-strong"> #{{issue.id}}: </span>  <span class="mat-body">{{issue.title}}</span>
                <span *ngIf="dupIssueOptionIsDisabled(issue)" class="mat-caption" style="color: #f44336"> ({{getDisabledDupOptionErrorText(issue)}}) </span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="duplicateOf.errors && duplicateOf.errors['required'] && duplicateOf.touched">
              Need to specify the duplicated issue.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="container">
        <mat-form-field class="left-half">
          <mat-select formControlName="severity" placeholder="Severity"
          (selectionChange)="setSelectedLabelColor($event.value, 'severity')" 
          [ngStyle]="this.labelService.setLabelStyle(this.selectedSeverityColor)">
            <mat-option *ngFor="let value of severityValues" [value]="value.labelValue"
            [ngStyle]="this.labelService.setLabelStyle(value.labelColor)">
              {{value.labelValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="severity.errors && severity.errors['required'] && severity.touched">
            Severity required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="right-half">
          <mat-select formControlName="type" placeholder="Type"
          (selectionChange)="setSelectedLabelColor($event.value, 'type')" 
          [ngStyle]="this.labelService.setLabelStyle(this.selectedTypeColor)">
            <mat-option *ngFor="let value of issueTypeValues" [value]="value.labelValue"
            [ngStyle]="this.labelService.setLabelStyle(value.labelColor)">
              {{value.labelValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="type.errors && type.errors['required'] && type.touched">
            Type required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="container" [style.display]="duplicated.value ? 'none' : 'grid'">
        <mat-form-field class="left-half">
          <mat-select placeholder="Assignees" formControlName="assignees" multiple>
            <mat-option *ngFor="let member of teamMembers" [value]="member">{{member}}</mat-option>
          </mat-select>
          <mat-error *ngIf="assignees.errors && assignees.errors['required'] && assignees.touched">
            Assignee(s) required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="right-half">
          <mat-select formControlName="responseTag" placeholder="Response"
          (selectionChange)="setSelectedLabelColor($event.value, 'responseTag')" 
          [ngStyle]="this.labelService.setLabelStyle(this.selectedResponseColor)">
            <mat-option *ngFor="let value of responseList" [value]="value.labelValue"
            [ngStyle]="this.labelService.setLabelStyle(value.labelColor)">
              {{value.labelValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="responseTag.errors && responseTag.errors['required'] && responseTag.touched">
            Response required.
          </mat-error>
        </mat-form-field>
      </div>

      <app-comment-editor [commentField]="newTeamResponseForm.get('description')" [commentForm]="newTeamResponseForm"></app-comment-editor>
    </div>

  </div>
</form>
