<h3 class="mat-title">{{ descriptionTitle }}</h3>
<form [formGroup]="issueDescriptionForm" #myForm="ngForm" (ngSubmit)="updateDescription(myForm)">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span> <strong> Tester </strong> posted on {{ issue.created_at }}. </span>
      <button style="float: right" mat-button *ngIf="permissions.isIssueDescriptionEditable() && !isEditing" (click)="changeToEditMode()">
        Edit
      </button>
    </div>
    <div *ngIf="!isEditing" class="comment">
      <markdown [data]="issue.description" disableInternalLink></markdown>
    </div>
    <div *ngIf="isEditing">
      <app-comment-editor
        [id]="'description'"
        [commentField]="this.issueDescriptionForm.get('description')"
        [commentForm]="this.issueDescriptionForm"
        [(isFormPending)]="this.isSavePending"
        [(submitButtonText)]="this.submitButtonText"
      >
      </app-comment-editor>
      <div class="editor-actions">
        <button
          class="editor-action"
          *ngIf="conflict"
          type="button"
          [disabled]="isSavePending"
          mat-raised-button
          color="primary"
          (click)="viewChanges()"
        >
          View Updated Description
        </button>
        <button
          class="editor-action"
          type="button"
          [disabled]="isSavePending"
          mat-stroked-button
          color="warn"
          (click)="openCancelDialogIfModified()"
        >
          Cancel
        </button>
        <button
          class="editor-action"
          *ngIf="conflict"
          type="submit"
          [disabled]="issueDescriptionForm.invalid || isSavePending"
          mat-raised-button
          color="warn"
        >
          {{ submitButtonText }}
        </button>
        <button
          class="editor-action additional-editor-style"
          *ngIf="!conflict"
          type="submit"
          [disabled]="issueDescriptionForm.invalid || isSavePending"
          mat-stroked-button
          color="primary"
        >
          <mat-button-content>
            {{ submitButtonText }}
            <ng-container #loadingSpinnerContainer></ng-container>
          </mat-button-content>
        </button>
      </div>
    </div>
  </div>
</form>
