<h3 class="mat-title">{{title}}</h3>
<form [formGroup]="issueDescriptionForm" #myForm="ngForm" (ngSubmit)="updateDescription(myForm)">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span> <strong> Tester </strong> posted on {{issue.created_at}}. </span>
      <button mat-button *ngIf="permissions.isIssueDescriptionEditable() && !isEditing" (click)="changeToEditMode()">
        Edit
      </button>
    </div>
    <div *ngIf="!isEditing" class="comment">
      <markdown [data]="issue.description"></markdown>
    </div>
    <div *ngIf="isEditing">
      <app-comment-editor [id]="'description'" [commentField]="issueDescriptionForm.get('description')" [commentForm]="issueDescriptionForm"></app-comment-editor>
      <button type="button" [disabled]="isSavePending" mat-stroked-button color="warn" (click)="cancelEditMode()">Cancel</button>
      <button type="submit" [disabled]="issueDescriptionForm.invalid || isSavePending" mat-stroked-button color="primary">Save</button>
    </div>
  </div>
</form>
