.mat-table {
  display: flex;
  flex-wrap: wrap;
  min-width: 1000px;
}

.mat-paginator {
  min-width: 1000px;
}

.mat-column {
}

.mat-column-id {
  flex: 0 1 5%;
}

.mat-column-title {
}

.mat-column-type {
  overflow-x: auto;
}

.mat-column-responseTag {
  overflow-x: auto;
}

.mat-column-severity {
}

.mat-column-duplicatedIssues {
  overflow-x: auto;
}

.mat-column-assignees {
  word-wrap: normal;
}

.mat-column-Todo-Remaining {
}

.mat-column-actions {
  overflow-x: auto;
  text-align: center !important;
}

.mat-header-row {
  column-gap: 10px;
  min-width: 100%;
}

.mat-row {
  column-gap: 10px;
  min-width: 100%;
}

.mat-icon.arrow-right {
  cursor: default;
  vertical-align: middle;
}

.mat-cell.mat-column-type {
  flex-wrap: wrap;
}

.mat-cell.mat-column-actions > button {
  min-width: 32px;
}

.mat-column-type {
  flex-basis: 12px;
}

.title-wrap {
  overflow-wrap: anywhere;
}
