<mat-table
  [dataSource]="this.issues"
  matSort
  [matSortActive]="this.tableSettings.sortActiveId"
  [matSortDirection]="this.tableSettings.sortDirection"
  (matSortChange)="this.sortChange($event)"
  class="mat-elevation-z8"
>
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <span (click)="$event.stopPropagation()" style="cursor: default">{{ issue.id }}</span>
    </mat-cell>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <a class="no-underline link-grey-dark title-wrap" [routerLink]="'issues/' + issue.id"> {{ issue.title }} </a>
    </mat-cell>
  </ng-container>

  <!-- Team Assigned Column -->
  <ng-container *ngIf="userService.currentUser.role !== 'Student'" matColumnDef="teamAssigned">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
    <mat-cell *matCellDef="let issue"> {{ (issue.teamAssigned && issue.teamAssigned.id) || '-' }} </mat-cell>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <span
        (click)="$event.stopPropagation()"
        [ngStyle]="this.labelService.setLabelStyle(this.labelService.getColorOfLabel('type', issue.type))"
        [matTooltip]="this.labelService.parseLabelDefinitionMarkdown(this.labelService.getLabelDefinition(issue.type, 'type'))"
        matTooltipClass="labelTooltip"
      >
        {{ issue.type || '-' }}
      </span>
      <span
        *ngIf="issue.teamChosenType && issue.teamChosenType != issue.type"
        (click)="$event.stopPropagation()"
        style="display: inline; padding: 1px 2px"
      >
        <mat-icon class="arrow-right">arrow_right_alt</mat-icon>
      </span>
      <span
        *ngIf="issue.teamChosenType && issue.teamChosenType != issue.type"
        (click)="$event.stopPropagation()"
        [ngStyle]="this.labelService.setLabelStyle(this.labelService.getColorOfLabel('type', issue.teamChosenType))"
        [matTooltip]="this.labelService.parseLabelDefinitionMarkdown(this.labelService.getLabelDefinition(issue.teamChosenType, 'type'))"
        matTooltipClass="labelTooltip"
      >
        {{ issue.teamChosenType }}
      </span>
    </mat-cell>
  </ng-container>

  <!-- Severity Column -->
  <ng-container matColumnDef="severity">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Severity </mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <span
        (click)="$event.stopPropagation()"
        [ngStyle]="this.labelService.setLabelStyle(this.labelService.getColorOfLabel('severity', issue.severity))"
        [matTooltip]="this.labelService.parseLabelDefinitionMarkdown(this.labelService.getLabelDefinition(issue.severity, 'severity'))"
        matTooltipClass="labelTooltip"
      >
        {{ issue.severity || '-' }}
      </span>
      <span
        *ngIf="issue.teamChosenSeverity && issue.teamChosenSeverity != issue.severity"
        (click)="$event.stopPropagation()"
        style="display: inline; margin: 3px"
      >
        <mat-icon class="arrow-right">arrow_right_alt</mat-icon>
      </span>
      <span
        *ngIf="issue.teamChosenSeverity && issue.teamChosenSeverity != issue.severity"
        (click)="$event.stopPropagation()"
        [ngStyle]="this.labelService.setLabelStyle(this.labelService.getColorOfLabel('severity', issue.teamChosenSeverity))"
      >
        {{ issue.teamChosenSeverity }}
      </span>
    </mat-cell>
  </ng-container>

  <!--Response Tag Column-->
  <ng-container matColumnDef="response">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Response </mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <span
        (click)="$event.stopPropagation()"
        *ngIf="issue.response"
        [ngStyle]="this.labelService.setLabelStyle(this.labelService.getColorOfLabel('response', issue.response))"
      >
        {{ issue.response }}
      </span>
      <span *ngIf="!issue.response" style="margin-left: 10%">
        <mat-icon matTooltip="Should not be empty" matTooltipPosition="above" color="warn">warning</mat-icon>
      </span>
    </mat-cell>
  </ng-container>

  <!--Assignee Column-->
  <ng-container matColumnDef="assignees">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Assignees </mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <span (click)="$event.stopPropagation()" style="cursor: default" *ngIf="issue.assignees.length !== 0">
        {{ issue.assignees.join(', ') }}
      </span>
      <span *ngIf="issue.assignees.length === 0" style="margin-left: 5%">
        <mat-icon matTooltip="We strongly recommend assigning all issues to someone" matTooltipPosition="above" style="color: #ffab40">
          warning
        </mat-icon>
      </span>
    </mat-cell>
  </ng-container>

  <!-- Duplicated Issues Column -->
  <ng-container matColumnDef="duplicatedIssues">
    <mat-header-cell *matHeaderCellDef> Duplicates </mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <div *ngIf="(issueService.getDuplicateIssuesFor(issue) | async).length === 0">-</div>
      <mat-chip-list
        *ngFor="let duplicateIssue of issueService.getDuplicateIssuesFor(issue) | async"
        style="display: inline-block; margin-left: 5px"
      >
        <mat-chip
          [routerLink]="['issues/' + duplicateIssue.id]"
          [matTooltip]="duplicateIssue.title"
          matTooltipPosition="above"
          style="font-size: 12px; cursor: pointer"
        >
          #{{ duplicateIssue.id }}
        </mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <!-- To do Column -->
  <ng-container matColumnDef="Todo Remaining">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Todo Remaining </mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <span *ngIf="isTodoListChecked(issue) && issue.issueDisputes.length > 0"> <font color="green">All tasks are completed</font> </span>
      <span *ngIf="!isTodoListChecked(issue)">
        <font color="red"
          >{{ issue.issueDisputes.length - todoFinished(issue) }}/{{ issue.issueDisputes.length }} tasks pending.</font
        ></span
      >
      <progress
        *ngIf="issue.issueDisputes.length > 0"
        value="{{ todoFinished(issue) }}"
        max="{{ issue.issueDisputes.length }}"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      ></progress>
      <span *ngIf="issue.issueDisputes.length === 0"> No Todo List for this issue </span>
    </mat-cell>
  </ng-container>

  <!--Tester Disagree Column-->
  <ng-container matColumnDef="testerDisagree">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Response</mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <!-- Response Agree/Disagree colours are the same as Response Agree/Rejected label colours for uniformity in the app -->
      <span
        (click)="$event.stopPropagation()"
        *ngIf="issue.testerDisagree"
        [ngStyle]="this.labelService.setLabelStyle(this.labelService.getColorOfLabel('response', 'Rejected'))"
      >
        Disagree
      </span>
      <span
        (click)="$event.stopPropagation()"
        *ngIf="!issue.testerDisagree"
        [ngStyle]="this.labelService.setLabelStyle(this.labelService.getColorOfLabel('response', 'Accepted'))"
      >
        Agree
      </span>
    </mat-cell>
  </ng-container>

  <!-- Action Buttons Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let issue">
      <button
        mat-button
        matTooltip="View this issue on GitHub"
        *ngIf="this.isActionVisible(action_buttons.VIEW_IN_WEB)"
        (click)="this.viewIssueInBrowser(issue.id, $event)"
        style="transform: scale(0.8)"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button
        *ngIf="this.isResponseEditable() && !issue.status && this.isActionVisible(action_buttons.RESPOND_TO_ISSUE); else tryEditIssue"
        [routerLink]="'issues/' + issue.id"
        mat-button
        color="accent"
        style="transform: scale(0.8)"
        matTooltip="Respond to this issue"
        (click)="this.logIssueRespondRouting(issue.id)"
      >
        <mat-icon>feedback</mat-icon>
      </button>
      <ng-template #tryEditIssue>
        <button
          *ngIf="permissions.isIssueEditable() && this.isActionVisible(action_buttons.FIX_ISSUE)"
          mat-button
          color="accent"
          style="transform: scale(0.8)"
          matTooltip="Edit this issue"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </ng-template>
      <button
        *ngIf="this.isResponseEditable() && issue.status && this.isActionVisible(action_buttons.MARK_AS_RESPONDED)"
        mat-button
        color="primary"
        (click)="markAsResponded(issue, $event)"
        style="transform: scale(0.8)"
        matTooltip="Mark this issue as Responded"
      >
        <mat-icon>check_circle</mat-icon>
      </button>
      <button
        color="primary"
        matTooltip="Mark this issue as Pending"
        mat-button
        (click)="markAsPending(issue, $event)"
        style="transform: scale(0.8)"
        *ngIf="
          (userService.currentUser.role === 'Student' || userService.currentUser.role === 'Admin') &&
          this.isActionVisible(action_buttons.MARK_AS_PENDING)
        "
      >
        <mat-icon>cancel</mat-icon>
      </button>
      <button
        mat-button
        color="warn"
        *ngIf="permissions.isIssueDeletable() && !issuesPendingDeletion[issue.id] && this.isActionVisible(action_buttons.DELETE_ISSUE)"
        (click)="openDeleteDialog(issue.id, $event); $event.stopPropagation()"
        matTooltip="Delete this issue"
        style="transform: scale(0.8)"
      >
        <mat-icon>delete_outline</mat-icon>
      </button>
      <mat-spinner
        color="warn"
        [diameter]="25"
        style="display: inline; padding-right: 30px; margin-left: 5px"
        *ngIf="issuesPendingDeletion[issue.id] && this.isActionVisible(action_buttons.DELETE_ISSUE)"
      ></mat-spinner>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="this.headers"></mat-header-row>>
  <mat-row
    *matRowDef="let issue; columns: this.headers"
    (click)="this.logIssueEditRouting(issue.id)"
    [routerLink]="'issues/' + issue.id"
    style="cursor: pointer"
  ></mat-row>
</mat-table>
<mat-card *ngIf="this.issues.isLoading$ | async" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner color="primary" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
</mat-card>
<mat-paginator
  [paginatorLocalStorage]="this.table_name"
  [pageSize]="this.tableSettings.pageSize"
  [pageSizeOptions]="[10, 20, 50]"
  [pageIndex]="this.tableSettings.pageIndex"
  (page)="this.pageChange($event)"
></mat-paginator>
