.mat-table {
  min-width: 1000px;
}

.mat-paginator {
  min-width: 1000px;
}

.mat-column {
}

.mat-column-id {
  width: 6%;
}

.mat-column-title {
  width: 20%;
  padding: 0 10px 0 10px;
}

.mat-column-type {
}

.mat-column-responseTag {
}

.mat-column-severity {
}

.mat-column-duplicatedIssues {
  padding-left: 5px;
}

.mat-column-assignees {
  padding-left: 25px;
}

.mat-column-Todo-Remaining {
}

.mat-column-actions {
  text-align: center !important;
}
