<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <app-profiles (selectedProfileEmitter)="onProfileSelect($event)" (profileDataEmitter)="onProfilesMissing($event)"></app-profiles>
  <mat-card-content>
    <form [formGroup]="loginForm" #myForm="ngForm" (ngSubmit)="login(myForm)">
      <table class="table-form" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="login-field">
              <input matInput placeholder="Username" formControlName="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-field">
              <input matInput placeholder="Password" formControlName="password" type="password" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-field">
              <input matInput placeholder="Settings Location (Org/Repo)" formControlName="session" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions>
        <button type="submit" [disabled]="loginForm.invalid" mat-stroked-button color="primary">
          <div>
            <span *ngIf="this.isUserNotAuthenticated()">Sign In</span>
            <mat-spinner [diameter]="30" *ngIf="this.authState.toString() !== '0'"></mat-spinner>
          </div>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
  <div style="color: #6a737d; font-size: 10px;">{{ this.profileLocationPrompt }}</div>
</mat-card>
