.login-page {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  height: 100%;
  min-height: 87.9vh;
}

::ng-deep .mat-card-header-text {
  margin: 0;
  width: 100%;
  text-align: center;
}

.login-title {
  font-size: 30px;
}

.login-field {
  width: 100%;
}

.login-card {
  text-align: center;
  padding: 40px 70px 50px;
}

.sign-in-button {
  background: #f7fcfe;
  line-height: 45px;
  border: 1px solid currentColor;
  width: 100%;
}

.spinner-centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.or-text {
  color: #9e9e9e;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin: 10px;
}

.logo {
  align-items: center;
  display: inline-flex;
  margin: 0 3px 3px 3px
}

.github-logo {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.login-with-oauth-btn {
  width: 100%;
}

.hover-blue:hover {
  background: #f7fcfe;
}

.secondary-header-title {
  font-size: 25px;
  float: left;
  margin-bottom: 15px;
}

.link {
  color: #24292e;
  font-weight: 400;
  font-size: 14px;
}

.link:hover {
  color: #3f51b5;
  cursor: pointer;
}


.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
