<div *ngIf="isUserNotAuthenticated()" class="login-page">
  <mat-card class="login-card">
    <mat-card-header style="margin-bottom: 20px">
      <mat-card-title class="login-title"> Select Your Session </mat-card-title>
    </mat-card-header>

    <form [formGroup]="profileForm" (ngSubmit)="setupSession()">
      <app-profiles
        class="login-field"
        [urlEncodedSessionName]="this.urlEncodedSessionName"
        (selectedProfileEmitter)="onProfileSelect($event)"
      ></app-profiles>
      <mat-card-content>
        <mat-form-field class="login-field">
          <input matInput placeholder="Settings Location (Org/Repo)" formControlName="session" required />
        </mat-form-field>

        <mat-card-actions>
          <button
            *ngIf="!isSettingUpSession"
            class="sign-in-button"
            type="submit"
            [disabled]="profileForm.invalid || isSettingUpSession"
            mat-stroked-button
            color="primary"
          >
            <div>Submit</div>
          </button>
          <div *ngIf="isSettingUpSession" class="spinner-centralize">
            <mat-spinner [diameter]="47"></mat-spinner>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>
</div>

<div *ngIf="isUserAuthenticating() || isAwaitingOAuthUserConfirm()" class="login-page">
  <mat-card class="login-card">
    <mat-card-header style="margin-bottom: 20px">
      <mat-card-title class="login-title"> Confirm Login Account </mat-card-title>
      <mat-card-subtitle> Session on {{ currentSessionOrg }} </mat-card-subtitle>
    </mat-card-header>

    <div style="position: absolute; top: 15px; left: 15px">
      <button mat-icon-button (click)="goToSessionSelect()" [disabled]="isUserAuthenticating()" class="mat-primary">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>

    <div *ngIf="!isUserAuthenticating()">
      <app-auth-confirm-login [username]="currentUserName" [currentSessionOrg]="this.currentSessionOrg"></app-auth-confirm-login>
    </div>
    <div *ngIf="isUserAuthenticating()" class="spinner-centralize">
      <mat-spinner [diameter]="47"></mat-spinner>
    </div>
  </mat-card>
</div>
