<div>
  <mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile>
      <div class="grid-flush-left"> <h1 class="mat-headline" style="margin: 0px"> {{userService.currentUser.role === 'Student' ? 'Issues you posted' : 'All Issues' }}</h1> </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="grid-flush-right">
        <button *ngIf="permissions.canCreateNewIssue()" mat-stroked-button color="primary" routerLink="issues/new">
          New Issue
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <table mat-table [dataSource]="issuesDataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let issue"> {{issue.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let issue">
        <a class="no-underline link-grey-dark" [routerLink]="'issues/' + issue.id"> {{issue.title}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let issue">
        <span *ngIf="issue.type">
          {{issue.type}}
        </span>
        <span *ngIf="!issue.type" style="margin-left: 10%">
          <mat-icon matTooltip="Should not be empty" matTooltipPosition="above" color="warn">warning</mat-icon>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Severity </th>
      <td mat-cell *matCellDef="let issue">
        <span *ngIf="issue.severity">
          {{issue.severity}}
        </span>
        <span *ngIf="!issue.severity" style="margin-left: 10%">
          <mat-icon matTooltip="Should not be empty" matTooltipPosition="above" color="warn">warning</mat-icon>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef> {{permissions.canDeleteIssue() ? 'Actions' : ''}} </th>
      <td mat-cell *matCellDef="let issue">
        <button mat-button color="warn" *ngIf="permissions.canDeleteIssue() && !issuesPendingDeletion[issue.id]"
                (click)="deleteIssue(issue.id)"> Delete </button>
        <mat-spinner color="warn" [diameter]="25" style="display: inline; padding-right: 30px; margin-left: 5px"
                     *ngIf="issuesPendingDeletion[issue.id]" ></mat-spinner>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let issue; columns: displayedColumns;"></tr>
  </table>
  <mat-card *ngIf="issuesDataSource.isLoading$ | async"
            style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
  </mat-card>
  <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
</div>
