<h3 class="mat-title">Disputes</h3>
<form [formGroup]="tutorResponseForm" (ngSubmit)="submitTutorResponseForm()">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span style="vertical-align: middle; margin-left: 5px"> Post your response here. </span>
      <button mat-button style="float: right;" *ngIf="!isEditing" (click)="changeToEditMode()">
          Edit
      </button>
    </div>
    <div>
      <div class="container" *ngFor="let dispute of issue.issueDisputes; index as i; trackBy: trackDisputeList">
        <div style="display: flex;">
          <div style="color:red; font-size: 35px; padding-right: 10px;
            text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;"> ? </div>
          <markdown [data]="this.getItemTitleText(dispute.title)"></markdown>
        </div>
        <br>
        <markdown [data]="dispute.description"></markdown>
        <br>
        <div>
          <mat-checkbox style="display: inline-block; width: 20%" [checked]="isTodoChecked(dispute.todo)"
            (change)="handleChangeOfTodoCheckbox($event, dispute.todo, i)" [disabled]="!isEditing">
            Done
          </mat-checkbox>
        </div>
        <br>
        <div>
          <markdown data="### Tutor's Response: "></markdown>
          <markdown [data]="dispute.tutorResponse" *ngIf="!isEditing"></markdown>
        </div>
        <div *ngIf="isEditing">
          <app-comment-editor
            [commentField]="tutorResponseForm.get(i.toString())"
            [commentForm]="tutorResponseForm"
            (change)="handleChangeOfText($event, dispute.tutorResponse, i)"
            [id]="i.toString()"
            [initialDescription]="dispute.tutorResponse"
            [(isFormPending)]="isFormPending">
          </app-comment-editor>
        </div>
        <br> <markdown data="-------------------"></markdown> <br>
      </div>
      <mat-divider></mat-divider>
      <div style="float: right; padding: 10px;" *ngIf="isEditing">
        <button type="submit" [disabled]="tutorResponseForm.invalid || isFormPending"
          mat-stroked-button color="primary"> {{this.getSubmitButtonText()}} </button>
        <button type="button" [disabled]="isFormPending" style="margin-left: 10px;" *ngIf="!this.isNewResponse()"
          mat-stroked-button color="warn" (click)="cancelEditMode()">Cancel</button>
      </div>
    </div>
  </div>
</form>
