<h3 class="mat-title">Disputes</h3>
<form [formGroup]="tutorResponseForm" #tutorForm="ngForm" (ngSubmit)="submitTutorResponseForm(tutorForm)">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span style="vertical-align: middle; margin-left: 5px"> Post your response here. </span>
      <button mat-button style="float: right;" *ngIf="!isEditing" (click)="changeToEditMode()">
          Edit
      </button>
    </div>
    <div>
      <div class="container" *ngFor="let dispute of issue.issueDisputes; index as i; trackBy: trackDisputeList">
        <div style="display: flex;">
          <div style="color:red; font-size: 35px; padding-right: 10px;
            text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;"> ? </div>
          <markdown [data]="this.getItemTitleText(dispute.title)"></markdown>
        </div>
        <br>
        <markdown [data]="dispute.description"></markdown>
        <br>
        <div>
          <mat-checkbox style="display: inline-block; width: 20%" [id]="getTodoFormId(i)" [formControlName]="getTodoFormId(i)"
          [disableControl]="!isEditing">
            Done
          </mat-checkbox>
        </div>
        <br>
        <div>
          <markdown data="### Tutor's Response: "></markdown>
          <markdown [data]="dispute.tutorResponse" *ngIf="!isEditing"></markdown>
        </div>
        <div *ngIf="isEditing">
          <app-comment-editor
            [commentField]="this.tutorResponseForm.get(getTutorResponseFormId(i))"
            [commentForm]="this.tutorResponseForm"
            [id]="getTutorResponseFormId(i)"
            [(isFormPending)]="this.isFormPending"
            [(submitButtonText)]="this.submitButtonText">
          </app-comment-editor>
        </div>
        <br> <markdown data="-------------------"></markdown> <br>
      </div>
      <mat-divider></mat-divider>
      <div style="float: right; padding: 10px;" *ngIf="isEditing">
        <button type="submit" [disabled]="tutorResponseForm.invalid || isFormPending"
          mat-stroked-button color="primary"> {{ this.submitButtonText }} </button>
        <button type="button" [disabled]="isFormPending" style="margin-left: 10px;" *ngIf="!this.isNewResponse()"
          mat-stroked-button color="warn" (click)="cancelEditMode()">Cancel</button>
      </div>
    </div>
  </div>
</form>
