<!-- A toolbar component for text area. -->
<!-- Provided by a third-party library: https://github.com/github/markdown-toolbar-element -->
<markdown-toolbar [attr.for]="forTextAreaId">
  <md-bold>
    <button matTooltip="Add bold text" mat-icon-button color="accent">
      <mat-icon>format_bold</mat-icon>
    </button>
  </md-bold>
  <md-italic>
    <button matTooltip="Add italic text" mat-icon-button color="accent">
      <mat-icon>format_italic</mat-icon>
    </button>
  </md-italic>
  <md-header>
    <button matTooltip="Add heading text" mat-icon-button color="accent">
      <mat-icon>title</mat-icon>
    </button>
  </md-header>
  <md-quote>
    <button matTooltip="Add a quote" mat-icon-button color="accent">
      <mat-icon>format_quote</mat-icon>
    </button>
  </md-quote>
  <md-code>
    <button matTooltip="Add code" mat-icon-button color="accent">
      <mat-icon>code</mat-icon>
    </button>
  </md-code>
  <md-link>
    <button matTooltip="Add a link" mat-icon-button color="accent">
      <mat-icon>link</mat-icon>
    </button>
  </md-link>
  <md-image>
    <button matTooltip="Add a image via link" mat-icon-button color="accent">
      <mat-icon>image</mat-icon>
    </button>
  </md-image>
  <md-unordered-list>
    <button matTooltip="Add a bulleted list" mat-icon-button color="accent">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
  </md-unordered-list>
  <md-ordered-list>
    <button matTooltip="Add a numbered list" mat-icon-button color="accent">
      <mat-icon>format_list_numbered</mat-icon>
    </button>
  </md-ordered-list>
  <md-task-list>
    <md-header>
      <button matTooltip="Add a task list" mat-icon-button color="accent">
        <mat-icon>task</mat-icon>
      </button>
    </md-header>
  </md-task-list>
</markdown-toolbar>
