<form [formGroup]="commentForm" style="min-height: 350px">
  <mat-tab-group class="mat-elevation-z1" animationDuration="0ms">
    <mat-tab label="Write">
      <div
        #dropArea
        class="tab-content"
        (dragleave)="onDragExit($event)"
        (dragenter)="onDragEnter($event)"
        (drop)="onDrop($event)"
        (dragover)="enableFileDrop($event)"
      >
        <app-toolbar [textArea]="commentTextArea" (transformToolReturned)="onTransformToolReturned($event)"></app-toolbar>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label></mat-label>
          <textarea
            (paste)="onPaste($event)"
            #commentTextArea
            (dragover)="disableCaretMovement($event)"
            id="{{ this.id }}"
            formControlName="{{ this.id }}"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="20"
            class="text-input-area"
            placeholder="{{ this.placeholderText }}"
            maxlength="{{ this.maxLength }}"
          ></textarea>
          <mat-error *ngIf="commentField.errors && commentField.errors['required'] && commentField.touched">
            Description required.
          </mat-error>
          <mat-error *ngIf="commentField.errors && commentField.errors['maxLength']">
            Description cannot exceed {{ maxLength }} characters.
          </mat-error>
          <mat-hint *ngIf="commentField.value?.length >= maxLength - 50">
            {{ maxLength - commentField.value?.length }} character(s) remaining.
          </mat-hint>

          <div class="drag-and-drop">
            <span *ngIf="!isInErrorState"> Attach files by dragging & dropping or select them by clicking here. </span>
            <span *ngIf="isInErrorState" class="error"> {{ uploadErrorMessage }} </span>
            <input
              #fileInput
              [disabled]="this.commentField.disabled"
              [accept]="SUPPORTED_FILE_TYPES"
              type="file"
              class="file"
              (change)="onFileInputUpload($event, fileInput)"
            />
          </div>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Preview">
      <div class="tab-content" style="min-height: 228px">
        <markdown #markdownArea *ngIf="commentField.value !== ''" [data]="sanitize(commentField.value)"></markdown>
        <div *ngIf="commentField.value === ''">Nothing to preview.</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>
