<h3 class="mat-title">Team's Response</h3>
<form [formGroup]="responseForm" #myForm="ngForm" (ngSubmit)="updateResponse(myForm)">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span> <strong> Team </strong> responded. </span>
      <button style="float: right" mat-button *ngIf="canEditIssue() && !isEditing" (click)="changeToEditMode()">Edit</button>
    </div>
    <div *ngIf="!isEditing" class="comment">
      <markdown [data]="issue.teamResponse"></markdown>
    </div>
    <div *ngIf="isEditing">
      <app-comment-editor
        [id]="'description'"
        [commentField]="this.responseForm.get('description')"
        [commentForm]="this.responseForm"
        [(isFormPending)]="this.isSavePending"
        [(submitButtonText)]="this.submitButtonText"
      >
      </app-comment-editor>
      <div class="editor-actions">
        <button
          class="editor-action"
          *ngIf="conflict"
          type="button"
          [disabled]="isSavePending"
          mat-raised-button
          color="primary"
          (click)="viewChanges()"
        >
          View Updated Response
        </button>
        <button
          class="editor-action"
          *ngIf="conflict"
          type="submit"
          [disabled]="responseForm.invalid || isSavePending"
          mat-raised-button
          color="warn"
        >
          {{ submitButtonText }}
        </button>
        <button
          class="editor-action"
          *ngIf="!conflict"
          type="submit"
          [disabled]="responseForm.invalid || isSavePending"
          mat-stroked-button
          color="primary"
        >
          {{ submitButtonText }}
        </button>
        <button
          class="editor-action"
          type="button"
          [disabled]="isSavePending"
          mat-stroked-button
          color="warn"
          (click)="openCancelDialogIfModified()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
