<div>
  <mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile>
      <div class="grid-flush-left"> <h1 class="mat-headline" style="margin: 0px"> Faulty Issues </h1> </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <table mat-table [dataSource]="issuesDataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let issue"> {{issue.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let issue">
        <a class="no-underline link-grey-dark" [routerLink]="'issues/' + issue.id"> {{issue.title}} </a>
        <mat-chip-list *ngIf="issue.duplicated && !issue.duplicateOf" style="display: inline-block; margin-left: 5px;">
          <mat-chip style="font-size: 12px; cursor: pointer" [color]="'accent'"
                    matTooltip="Issue marked as duplicated but duplicated issue not specified." matTooltipPosition="above">
            Duplicate value not specified
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container *ngIf="userService.currentUser.role !== 'Student'" matColumnDef="teamAssigned">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
      <td mat-cell *matCellDef="let issue"> {{issue.teamAssigned.id || '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let issue">
        <span *ngIf="issue.type">
          {{issue.type}}
        </span>
        <span *ngIf="!issue.type" style="margin-left: 10%">
          <mat-icon matTooltip="Should not be empty" matTooltipPosition="above" color="warn">warning</mat-icon>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Severity </th>
      <td mat-cell *matCellDef="let issue">
        <span *ngIf="issue.severity">
          {{issue.severity}}
        </span>
        <span *ngIf="!issue.severity" style="margin-left: 10%">
          <mat-icon matTooltip="Should not be empty" matTooltipPosition="above" color="warn">warning</mat-icon>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="responseTag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Response </th>
      <td mat-cell *matCellDef="let issue">
        <span *ngIf="issue.responseTag">
          {{issue.responseTag}}
        </span>
        <span *ngIf="!issue.responseTag" style="margin-left: 10%">
          <mat-icon matTooltip="Should not be empty" matTooltipPosition="above" color="warn">warning</mat-icon>
        </span>
    </ng-container>

    <ng-container matColumnDef="assignees">
      <th [style.width]="userService.currentUser.role === 'Student' ? '15%' : '10%'" mat-header-cell *matHeaderCellDef mat-sort-header> Assignees </th>
      <td mat-cell *matCellDef="let issue">
        <span *ngIf="issue.assignees.length !== 0">
          {{issue.assignees.join(', ')}}
        </span>
        <span *ngIf="issue.assignees.length === 0" style="margin-left: 10%">
          <mat-icon matTooltip="Should not be empty" matTooltipPosition="above" color="warn">warning</mat-icon>
        </span>
    </ng-container>

    <ng-container matColumnDef="duplicatedIssues">
      <th mat-header-cell *matHeaderCellDef> Duplicated Issues </th>
      <td mat-cell *matCellDef="let issue">
        <div *ngIf="(issueService.getDuplicateIssuesFor(issue) | async).length === 0">
          -
        </div>
        <mat-chip-list *ngIf="(issueService.getDuplicateIssuesFor(issue) | async).length !== 0">
          <mat-chip *ngFor="let duplicateIssue of (issueService.getDuplicateIssuesFor(issue) | async)"  [routerLink]="['issues/' + duplicateIssue.id]"
                    [matTooltip]="duplicateIssue.title" matTooltipPosition="above"
                    style="font-size: 12px; cursor: pointer">
            #{{duplicateIssue.id}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container *ngIf="userService.currentUser.role === 'Student' || userService.currentUser.role === 'Admin'" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let issue"> <button color="primary" mat-button (click)="markAsPending(issue)">Mark as pending</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let issue; columns: displayedColumns;"></tr>
  </table>
  <mat-card *ngIf="issuesDataSource.isLoading$ | async"
            style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
  </mat-card>
  <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
</div>
