<h3 class="mat-title">Tester's Response</h3>
<form [formGroup]="testerResponseForm" (ngSubmit)="submitTesterResponseForm()">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span style="vertical-align: middle; margin-left: 5px" *ngIf="this.isNewResponse()"> Please verify the following item(s). </span>
      <span style="vertical-align: middle; margin-left: 5px" *ngIf="!this.isNewResponse()"> <strong>Tester</strong> responded. </span>
      <button mat-button style="float: right;" *ngIf="!isEditing" (click)="changeToEditMode()">
          Edit
      </button>
    </div>
    <div>
      <div class="container" *ngFor="let response of issue.testerResponses; index as i; trackBy: trackDisagreeList">
        <div style="display: flex;">
          <div style="color:red; font-size: 35px; padding-right: 10px;
            text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;"> ? </div>
          <markdown [data]="this.getItemTitleText(response.title)"></markdown>
        </div>
        <br>
        <markdown [data]="response.description"></markdown>
        <br>
        <div>
          <mat-checkbox style="display: inline-block; width: 20%" [checked]="isDisagreeChecked(response.disagreeCheckbox)"
            (change)="handleChangeOfDisagreeCheckbox($event, response.disagreeCheckbox, i)" [disabled]="!isEditing">
            I disagree
          </mat-checkbox>
        </div>
        <div>
          <p style="font-weight: 500;"> Reason for Disagreement: </p>
          <markdown [data]="response.reasonForDiagreement" *ngIf="!isEditing"></markdown>
        </div>
        <div *ngIf="isEditing">
          <app-comment-editor [commentField]="testerResponseForm.get(i.toString())" [commentForm]="testerResponseForm"
                              (change)="handleChangeOfText($event, response.reasonForDiagreement, i)"
                              [id]="i.toString()"
                              (focusout)="handleChangeOfText($event, response.reasonForDiagreement, i)"
                              [(isFormPending)]="isFormPending">
          </app-comment-editor>
        </div>
        <br> <markdown data="-------------------"></markdown> <br>
      </div>
      <mat-divider></mat-divider>
      <div style="float: right; padding: 10px;" *ngIf="isEditing">
        <button type="submit" [disabled]="testerResponseForm.invalid || isFormPending"
          mat-stroked-button color="primary"> {{this.getSubmitButtonText()}} </button>
        <button type="button" [disabled]="isFormPending" style="margin-left: 10px;" *ngIf="!this.isNewResponse()" mat-stroked-button color="warn"
          (click)="cancelEditMode()">Cancel</button>
      </div>
    </div>
  </div>
</form>
