<div *ngIf="!isPageLoading">
  <div>
    <app-issue-title [issue]="issue" (issueUpdated)="updateIssue($event)"></app-issue-title>

    <mat-divider></mat-divider>

    <div class="row">
      <div class="column left">
        <app-issue-description [issue]="issue" title="Description of Issue" (issueUpdated)="updateIssue($event)"></app-issue-description>

        <app-issue-comment *ngIf="comments.teamResponse" [comments]="comments" attributeName="teamResponse" (commentsUpdated)="updateComments($event)"></app-issue-comment>
        <app-new-team-response *ngIf="!comments.teamResponse" [comments]="comments" [issue]="issue" (issueUpdated)="updateIssue($event)"
                               (commentsUpdated)="updateComments($event)"></app-new-team-response>
      </div>

      <div class="column right" [style.visibility]="comments.teamResponse ? 'visible' : 'hidden'">
        <app-issue-label [issue]="issue" attributeName="severity" (issueUpdated)="updateIssue($event)"></app-issue-label>
        <mat-divider></mat-divider>
        <app-issue-label [issue]="issue" attributeName="type" (issueUpdated)="updateIssue($event)"></app-issue-label>
        <mat-divider></mat-divider>
        <app-issue-label [issue]="issue" attributeName="responseTag" (issueUpdated)="updateIssue($event)"></app-issue-label>
        <mat-divider></mat-divider>
        <app-assignee-component [issue]="issue" [team]="userService.currentUser.team" [editable]="comments.teamResponse" (issueUpdated)="updateIssue($event)"></app-assignee-component>
        <mat-divider></mat-divider>
        <app-duplicate-of-component [issue]="issue" [comments]="comments" (issueUpdated)="updateIssue($event)"
                                    (commentsUpdated)="updateComments($event)"></app-duplicate-of-component>
      </div>
    </div>
  </div>
</div>
