<div *ngIf="!isPageLoading">
  <div>
    <app-issue-title [issue]="issue" (issueUpdated)="updateIssue($event)"></app-issue-title>

    <mat-divider></mat-divider>

    <div class="row">
      <div class="column left">
        <app-issue-comment [issue]="issue" (issueUpdated)="updateIssue($event)"></app-issue-comment>
      </div>

      <div class="column right">
        <app-issue-label [issue]="issue" labelName="severity" (issueUpdated)="updateIssue($event)"></app-issue-label>
        <mat-divider></mat-divider>
        <app-issue-label [issue]="issue" labelName="type" (issueUpdated)="updateIssue($event)"></app-issue-label>
      </div>
    </div>
  </div>
</div>
