.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  margin: 0 0 16px;
  overflow-wrap: anywhere;
}

.title-button {
  margin: 5px;
  float: right;
}
