<div *ngIf="!isEditing" class="row">
  <h1 class="mat-display-1 title">
    {{ issue.title }} <span style="color: #a3aab1">#{{ issue.id }}</span>
  </h1>
  <div class="row">
    <button *ngIf="permissions.isIssueTitleEditable()" mat-stroked-button color="primary" class="title-button" (click)="changeToEditMode()">
      Edit
    </button>
    <button
      *ngIf="permissions.isIssueCreatable()"
      mat-stroked-button
      color="primary"
      class="title-button"
      [routerLink]="'/' + phaseService.currentPhase + '/issues/new'"
    >
      New Issue
    </button>
  </div>
</div>

<div *ngIf="isEditing">
  <form [formGroup]="issueTitleForm" #myForm="ngForm" (ngSubmit)="updateTitle(myForm)">
    <div class="row">
      <app-title-editor
        [id]="'title'"
        [titleField]="this.issueTitleForm.get('title')"
        [titleForm]="this.issueTitleForm"
      >
      </app-title-editor>
      
      <div>
        <button type="submit" [disabled]="issueTitleForm.invalid" mat-stroked-button color="primary" class="title-button">
          Save
          <ng-container #loadingSpinnerContainer></ng-container>
        </button>
        <button
          type="button"
          [disabled]="isSavePending"
          mat-stroked-button
          color="warn"
          class="title-button"
          (click)="openCancelDialogIfModified()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
