<div *ngIf="!isEditing">
  <h1 class="mat-display-1 title">{{issue.title}} <span style="color:#a3aab1">#{{issue.id}}</span></h1>
  <button *ngIf="permissions.isIssueCreatable()" mat-stroked-button color="primary" class="title-button"
          [routerLink]="'/' + phaseService.currentPhase + '/issues/new'">New Issue</button>
  <button *ngIf="permissions.isIssueTitleEditable()" mat-stroked-button color="primary" class="title-button" (click)="changeToEditMode()">Edit</button>
</div>


<div *ngIf="isEditing">
  <form [formGroup]="issueTitleForm" #myForm="ngForm" (ngSubmit)="updateTitle(myForm)">
    <mat-form-field style="width: 80%">
      <input id="title" formControlName="title" matInput placeholder="Title" required>
      <mat-error *ngIf="issueTitleForm.errors && issueTitleForm.errors['required'] && issueTitleForm.touched">
        Title required.
      </mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="issueTitleForm.invalid || isSavePending" mat-stroked-button color="primary"
            class="title-button">Save</button>
    <button type="button" [disabled]="isSavePending" mat-stroked-button color="warn" class="title-button" (click)="openCancelDialog()">Cancel</button>
  </form>
</div>
