.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  margin: 0 0 16px;
  overflow-wrap: anywhere;
}

.title-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  float: right;
}

:host ::ng-deep .mat-progress-spinner {
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
