<div>
  <app-issue-title *ngIf="!isIssueLoading" [issue]="issue" (issueUpdated)="updateIssue($event)"></app-issue-title>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="column left">
      <app-issue-description [isEditing]="isEditing" (changeEditState)="updateEditState($event)" *ngIf="!isIssueLoading"
                             [issue]="issue" title="Description of Issue" (issueUpdated)="updateIssue($event)">
      </app-issue-description>
    </div>

    <div class="column right">
      <app-issue-label [issue]="issue" attributeColor="severityColor" attributeName="severity" (issueUpdated)="updateIssue($event)"></app-issue-label>
      <mat-divider></mat-divider>
      <app-issue-label [issue]="issue" attributeColor="typeColor" attributeName="type" (issueUpdated)="updateIssue($event)"></app-issue-label>
    </div>
  </div>
</div>
