.form {
  width: 80%;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

.row {
  display: flex;
}

.column {
  padding: 10px;
  height: 100%;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}
