<h1 class="mat-display-1 title">New Issue</h1>

<form [formGroup]="newIssueForm" #myForm="ngForm" (ngSubmit)="submitNewIssue(myForm)">
  <div class="form">

    <div class="row">

      <div class="column left">
        <mat-form-field>
          <input id="title" formControlName="title" matInput placeholder="Title" required>
          <mat-error *ngIf="title.errors && title.errors['required'] && title.touched">
            Title required.
          </mat-error>
        </mat-form-field>

        <div style="margin: 10px 0 10px 0;">
          <app-comment-editor [commentField]="description" [commentForm]="newIssueForm"></app-comment-editor>
        </div>

        <button style="float: right" type="submit" mat-stroked-button color="primary"
          [disabled]="!newIssueForm.valid || isFormPending">
          Submit new issue
        </button>
      </div>

      <div class="column right">
        <app-label-dropdown initialValue="" attributeName="severity" [dropdownForm]="newIssueForm"></app-label-dropdown>
        
        <app-label-dropdown initialValue="" attributeName="type" [dropdownForm]="newIssueForm"></app-label-dropdown>
      </div>

    </div>

  </div>
</form>