<h1 class="mat-display-1 title">New Issue</h1>

<form [formGroup]="newIssueForm" #myForm="ngForm" (ngSubmit)="submitNewIssue(myForm)">
  <div class="form">

    <div class="row">

      <div class="column left">
        <mat-form-field>
          <input id="title" formControlName="title" matInput placeholder="Title" required>
          <mat-error *ngIf="title.errors && title.errors['required'] && title.touched">
            Title required.
          </mat-error>
        </mat-form-field>

        <div style="margin: 10px 0 10px 0;">
          <app-comment-editor [commentField]="description" [commentForm]="newIssueForm"></app-comment-editor>
        </div>

        <button style="float: right" type="submit" mat-stroked-button color="primary"
          [disabled]="!newIssueForm.valid || isFormPending">
          Submit new issue
        </button>
      </div>

      <div class="column right">
        <mat-form-field class="left-half">
          <mat-select [ngClass]="severityTextColor" formControlName="severity" placeholder="Severity"
          (selectionChange)="setSelectedLabelColor($event.value, 'severity')" 
          [ngStyle]="this.labelService.setLabelStyle(this.selectedSeverityColor)">
            <mat-select-trigger>
            {{severity.value}}
            </mat-select-trigger>
            <mat-option *ngFor="let value of severityValues" [value]="value.labelValue">
              <mat-icon [ngStyle]="{'color': '#' + value.labelColor, 'font-size' : '1.8em'}">stop</mat-icon>
              <span> {{value.labelValue}}</span>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="severity.errors && severity.errors['required'] && severity.touched">
            Severity required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="right-half">
          <mat-select [ngClass]="typeTextColor" formControlName="type" placeholder="Type"
          (selectionChange)="setSelectedLabelColor($event.value, 'type')" 
          [ngStyle]="this.labelService.setLabelStyle(this.selectedTypeColor)">
          <mat-select-trigger>
            {{type.value}}
          </mat-select-trigger>
            <mat-option *ngFor="let value of issueTypeValues" [value]="value.labelValue">
              <mat-icon [ngStyle]="{'color': '#' + value.labelColor, 'font-size' : '1.8em'}">stop</mat-icon>
              <span> {{value.labelValue}}</span>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="type.errors && type.errors['required'] && type.touched">
            Type required.
          </mat-error>
        </mat-form-field>
      </div>

    </div>

  </div>
</form>