<div class="row bg-light no-gutters">
  <button mat-icon-button color="accent" (click)="bold($event)" type="button"><mat-icon>format_bold</mat-icon></button>
  <button mat-icon-button color="accent" (click)="italic($event)" type="button" class="btn btn-light">
    <mat-icon>format_italic</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="strikethrough($event)" type="button" class="btn btn-light">
    <mat-icon>format_strikethrough</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="uList($event)" type="button" class="btn btn-light">
    <mat-icon>format_list_bulleted</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="oList($event)" type="button" class="btn btn-light">
    <mat-icon>format_list_numbered</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="heading($event)" type="button" class="btn btn-light"><mat-icon>title</mat-icon></button>
  <button mat-icon-button color="accent" (click)="blockquotes($event)" type="button" class="btn btn-light">
    <mat-icon>format_quote</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="inlineCode($event)" type="button" class="btn btn-light"><mat-icon>code</mat-icon></button>
  <button mat-icon-button color="accent" (click)="insertLink($event)" type="button" class="btn btn-light"><mat-icon>link</mat-icon></button>
  <button mat-icon-button color="accent" (click)="insertImage($event)" type="button" class="btn btn-light">
    <mat-icon>image</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="insertTable($event)" type="button" class="btn btn-light">
    <mat-icon>table_chart</mat-icon>
  </button>
</div>
