<mat-toolbar color="primary" style="position: sticky; position: -webkit-sticky; top: 0; z-index: 1000;">
  <button *ngIf="needToShowBackButton()" mat-icon-button class="mat-toolbar mat-primary" style="transform: scale(0.9)" (click)="goBack()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <a class="mat-toolbar mat-primary" style="text-decoration: none" [routerLink]="phaseService.currentPhase">CATcher</a>
  <span *ngIf="auth.isAuthenticated()" style="margin-left: 10px">
    ({{phaseService.phaseDescription[phaseService.currentPhase]}})
  </span>

  <span style="flex: 1 1 auto"></span>
  <button *ngIf="auth.isAuthenticated()" mat-button matTooltip="View current page in web-browser" (click)="viewBrowser()">
    View in Browser
    <mat-icon>link</mat-icon>
  </button>
  <button *ngIf="auth.isAuthenticated() && needToShowReloadButton()" [disabled]="this.isReloadBtnDisabled"
    mat-button matTooltip="Synchronize with Github data" (click)="reload()">
    Sync
    <mat-icon>refresh</mat-icon>
    </button>
  <button *ngIf="auth.isAuthenticated()" mat-button matTooltip="Log out" (click)="logOut()">
    ({{userService.currentUser.loginId}})
    <mat-icon style="margin-left: 2px">exit_to_app</mat-icon>
  </button>
</mat-toolbar>
