<span class="mat-title"> {{attributeName.charAt(0).toUpperCase() + attributeName.substr(1)}} </span>
<button *ngIf="permissions.canEditIssueLabels()" style="float: right" [matMenuTriggerFor]="labelList" mat-icon-button>
  <mat-icon style="font-size: 20px; margin-bottom: 7px; color: #586069"> edit </mat-icon>
</button>

<mat-menu #labelList>
  <button mat-menu-item *ngFor="let value of labelValues;" (click)="updateLabel(value.labelValue)"
          [disabled]="value.labelValue === this.issue[attributeName]"  [ngStyle]="setLabelStyle(value.labelColor)"
          >
    <span> {{value.labelValue}}</span>
  </button>
</mat-menu>

<p [ngStyle]="setLabelStyle(this.issue[attributeColor])">{{issue[attributeName] || '-'}}</p>
