.no-arrow .mat-select-arrow {
  visibility: hidden;
}

.option {
  background-color: Transparent;
  border: none;
  outline:none;
  margin-right: 30px
}

.infoPopup {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
}

.labelLine {
  display: grid;
  grid-template-columns: auto 20%;
}

.labelInfo {
  display: grid;
  grid-template-columns: 20% auto;
  align-items: center;
  text-align: left;
  grid-gap: 20%;
}
