.no-arrow .mat-select-arrow {
  visibility: hidden;
}

.option {
  background-color: Transparent;
  border: none;
  outline: none;
  margin-right: 30px;
}

.infoPopup {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
}

.labelLine {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.labelInfo {
  font-size: 1em;
  text-align: left;
}
