<div class="preview-page">
  <mat-card class="preview-card">
    <mat-card-header style="margin-bottom: 20px">
      <mat-card-title class="preview-title">Select Phase and User</mat-card-title>
    </mat-card-header>

    <form class="preview-form" [formGroup]="previewInputForm" (ngSubmit)="handleSubmit()">
      <mat-card-content>
        <mat-form-field appearance="fill" class="preview-input-field">
          <mat-label>Phase</mat-label>
          <mat-select [formControl]="previewInputForm.get('selectedPhase')">
            <mat-option *ngFor="let phase of phases" [value]="phase">
              {{ phase }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="preview-input-field">
          <mat-label>Username</mat-label>
          <mat-select [formControl]="previewInputForm.get('selectedUsername')">
            <mat-option *ngFor="let student of students" [value]="student">
              {{ student }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions>
          <button mat-stroked-button [disabled]="previewInputForm.invalid" class="preview-button" type="submit">Preview</button>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>

  <div class="mat-body-1" style="margin-top: 20px">
    Note: To subsequently change the phase and/or user you are previewing, press the "back" button on your browser to come back to this
    page.
  </div>
</div>
