.preview-page {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  height: 100%;
  min-height: 87.9vh;
}

.preview-title {
  font-size: 30;
}

.preview-card {
  text-align: center;
  padding: 40px 70px 50px;
}

.preview-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.preview-input-field {
  width: 100%;
}

.preview-button {
  background: #f7fcfe;
  line-height: 45px;
  border: 1px solid currentColor;
  width: 100%;
}
