.container {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: black;
  margin: 0;
  padding: 30px 20px;
}

.mat-column-actions {
  width: 13%;
  text-align: center;
}

.mat-column-id {
  width: 10%;
}

.mat-column-title {
  width: 26%;
}

.mat-column-teamAssigned {
  width: 10%;
}

.mat-column-type {
  width: 12%;
}

.mat-column-severity {
  width: 10%;
}
.mat-column-duplicateOf {
  width: 12%;
}
