<form [formGroup]="tutorResponseForm" #myForm="ngForm" (ngSubmit)="submitNewTutorResponseForm(myForm)">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span style="vertical-align: middle; margin-left: 5px"> Post your response here. </span>
    </div>

    <div>
      <div class="container">
        <div>
          <mat-checkbox style="display: inline-block; width: 20%" formControlName="duplicated" (change)="handleChangeOfDuplicateCheckbox($event)">
            Duplicated Issue
          </mat-checkbox>

          <mat-form-field [style.visibility]="!duplicated.value ? 'hidden' : 'visible'" style="display: inline-block; width: 50%">
            <mat-select formControlName="duplicateOf" placeholder="Duplicate of">
              <mat-option *ngFor="let issue of duplicatedIssueList | async" [disabled]="dupIssueOptionIsDisabled(issue)" [value]="issue.id">
                <span class="mat-body-strong"> #{{issue.id}}: </span>  <span class="mat-body">{{issue.title}}</span>
                <span *ngIf="dupIssueOptionIsDisabled(issue)" class="mat-caption" style="color: #f44336"> ({{getDisabledDupOptionErrorText(issue)}}) </span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="duplicateOf.errors && duplicateOf.errors['required'] && duplicateOf.touched">
              Need to specify the duplicated issue.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="container" *ngFor="let todo of issue.todoList; index as i; trackBy: trackTodoList">
        <div>
          <mat-checkbox style="display: inline-block; width: 20%" [checked]="isTodoChecked(todo)" (change)="handleChangeOfTodoCheckbox($event, todo, i)">
            {{ todo.substring(6) }}
          </mat-checkbox>
        </div>
      </div>

      <br>

      <div class="container" [style.display]="duplicated.value ? 'none' : 'grid'">
        <div class="left-half">
          <app-label-dropdown [initialValue]="this.issue.severity" attributeName="severity" [dropdownForm]="tutorResponseForm"></app-label-dropdown>
        </div>

        <div class="right-half">
          <app-label-dropdown [initialValue]="this.issue.type" attributeName="type" [dropdownForm]="tutorResponseForm"></app-label-dropdown>
        </div>
      </div>

      <div class="container" [style.display]="duplicated.value ? 'none' : 'grid'">
        <mat-form-field class="left-half">
          <mat-select placeholder="Assignees" formControlName="assignees" multiple>
            <mat-option *ngFor="let member of issue.teamAssigned.teamMembers" [value]="member.loginId">{{member.loginId}}</mat-option>
          </mat-select>
          <mat-error *ngIf="assignees.errors && assignees.errors['required'] && assignees.touched">
            Assignee(s) required.
          </mat-error>
        </mat-form-field>

        <div class="right-half">
          <app-label-dropdown [initialValue]="this.issue.responseTag" attributeName="responseTag" [dropdownForm]="tutorResponseForm"></app-label-dropdown>
        </div>
      </div>

      <app-comment-editor [id]="'description'" [commentField]="tutorResponseForm.get('description')" [commentForm]="tutorResponseForm"></app-comment-editor>
    
      <div style="float: right; padding:5px;">
        <button type="submit" style="margin-left: 10px" [disabled]="tutorResponseForm.invalid || isFormPending" mat-stroked-button color="primary">Submit</button>
      </div>
    </div>

  </div>
</form>
