/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link-grey-dark {
  color: #24292e;
  font-weight: 500;
  font-size: 16px;
}

.link-grey-dark:hover {
  color: #0366d6;
}

.no-underline {
  text-decoration: none!important;
}

.mat-table tbody tr:hover td {
  background-color: #E8E8EE;
}

table {
  width: 100%;
  table-layout: fixed;
}

/* Timeline comment style */
.timeline-header {
  background-color: #f1f8ff;
  border-bottom: 1px solid #c0d3eb;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #586069;
  height: 35px;
  padding: 5px;
}

.timeline-comment {
  overflow: auto;
  border: 1px solid #c0d3eb;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 30px;
}

.comment {
  padding: 15px;
}

.bold-name {
  font-weight: 500;
  font-size: 17px;
}

.full-grid-width {
  width: 100%;
}

.white-spinner circle {
  stroke:white !important;
}

.sync-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
}

.column.left {
  max-width: 85%;
  min-width: 380px;
}

.column.right {
  max-width: 15%;
  min-width: 180px;
}
