/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link-grey-dark {
  color: #24292e;
  font-weight: 500;
  font-size: 16px;
}

.link-grey-dark:hover {
  color: #0366d6;
}

.no-underline {
  text-decoration: none!important;
}

.mat-table tbody tr:hover td {
  background-color: #E8E8EE;
}

table {
  width: 100%;
  table-layout: fixed;
}
