<form [formGroup]="newTeamResponseForm" #myForm="ngForm" (ngSubmit)="submitNewTeamResponse(myForm)">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span style="vertical-align: middle; margin-left: 5px"> Post your team's response here. </span>
    </div>

    <div>
      <div *ngIf="(issueService.getDuplicateIssuesFor(this.issue) | async).length === 0; else displayDuplicates" class="container">
        <div>
          <mat-checkbox style="display: inline-block; width: 20%" formControlName="duplicated" (change)="handleChangeOfDuplicateCheckbox($event)">
            A Duplicate Of:
          </mat-checkbox>

          <mat-form-field [style.visibility]="!duplicated.value ? 'hidden' : 'visible'" style="display: inline-block; width: 50%">
            <mat-select formControlName="duplicateOf" placeholder="Duplicate of">
              <mat-option *ngFor="let issue of duplicatedIssueList | async" [disabled]="dupIssueOptionIsDisabled(issue)" [value]="issue.id">
                <span class="mat-body-strong"> #{{issue.id}}: </span>  <span class="mat-body">{{issue.title}}</span>
                <span *ngIf="dupIssueOptionIsDisabled(issue)" class="mat-caption" style="color: #f44336"> ({{getDisabledDupOptionErrorText(issue)}}) </span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="duplicateOf.errors && duplicateOf.errors['required'] && duplicateOf.touched">
              Need to specify the duplicated issue.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <ng-template #displayDuplicates>
        <div class="container">
          <app-duplicated-issues-component [issue]="this.issue"></app-duplicated-issues-component>
        </div>
      </ng-template>

      <div class="container" [style.display]="duplicated.value ? 'none' : 'grid'">
        <div class="left-half">
          <app-label-dropdown [initialValue]="this.issue.severity" attributeName="severity" [dropdownForm]="newTeamResponseForm"></app-label-dropdown>
        </div>

        <div class="right-half">
          <app-label-dropdown [initialValue]="this.issue.type" attributeName="type" [dropdownForm]="newTeamResponseForm"></app-label-dropdown>
        </div>
      </div>

      <div class="container" [style.display]="duplicated.value ? 'none' : 'grid'">
        <mat-form-field class="left-half">
          <mat-select placeholder="Assignees" formControlName="assignees" multiple>
            <mat-option *ngFor="let member of teamMembers" [value]="member">{{member}}</mat-option>
          </mat-select>
          <mat-error *ngIf="assignees.errors && assignees.errors['required'] && assignees.touched">
            Assignee(s) required.
          </mat-error>
        </mat-form-field>

        <div class="right-half">
          <app-label-dropdown [initialValue]="this.issue.responseTag" attributeName="responseTag" [dropdownForm]="newTeamResponseForm"></app-label-dropdown>
        </div>
      </div>

      <app-comment-editor
        [id]="'description'"
        [commentField]="this.newTeamResponseForm.get('description')"
        [commentForm]="this.newTeamResponseForm"
        [(isFormPending)]="this.isFormPending"
        [(submitButtonText)]="this.submitButtonText">
      </app-comment-editor>

      <div class="editor-actions">
        <button class="editor-action" *ngIf="conflict" type="button" [disabled]="isFormPending"
                mat-raised-button color="primary" (click)="viewUpdatedResponse()">
          View Updated Response
        </button>
        <button class="editor-action" *ngIf="conflict" type="submit"
                [disabled]="newTeamResponseForm.invalid || isFormPending" mat-raised-button color="warn">
          {{ submitButtonText }}
        </button>
        <button type="submit" class="editor-action" *ngIf="!conflict"
                [disabled]="newTeamResponseForm.invalid || isFormPending" mat-stroked-button color="primary">
          {{ submitButtonText }}
        </button>
        <button class="editor-action" *ngIf="conflict" type="button" [disabled]="isFormPending" mat-stroked-button
                color="warn" (click)="refresh()" matTooltip="Updated response will overwrite your changes">
          Cancel
        </button>
      </div>
    </div>

  </div>
</form>
