.mat-stroked-button {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-button {
    float: right;
}

span {
    vertical-align: middle; 
    margin-left: 5px;
}
