<div>
    <app-issue-title *ngIf="!isIssueLoading" [issue]="issue" (issueUpdated)="updateIssue($event)"></app-issue-title>

    <mat-divider></mat-divider>

    <div class="row">
      <div class="column left">
        <!-- Tester's Post -->
        <app-issue-description [isEditing]="isIssueDescriptionEditing" (changeEditState)="updateDescriptionEditState($event)" 
          *ngIf="!isIssueLoading && this.isComponentVisible(issueComponentsEnum.TESTER_POST)" 
          [issue]="issue" title="Description of Issue" (issueUpdated)="updateIssue($event)">
        </app-issue-description>

        <!-- Team's Response -->
        <app-issue-response *ngIf="this.isComponentVisible(issueComponentsEnum.TEAM_RESPONSE) && !isIssueLoading && issue.teamResponse" 
          [issue]="issue" [isEditing]="isTeamResponseEditing" (updateEditState)="updateTeamResponseEditState($event)"
          attributeName="teamResponse" (issueUpdated)="updateIssue($event)">
        </app-issue-response>

        <!-- New Team's Response -->
        <app-new-team-response *ngIf="this.isComponentVisible(issueComponentsEnum.NEW_TEAM_RESPONSE) &&
          permissions.isTeamResponseEditable()  && !issue.teamResponse" [issue]="issue"
          (issueUpdated)="updateIssue($event)">
        </app-new-team-response>

        <!-- Tester's Response -->
        <app-tester-response *ngIf="this.isComponentVisible(issueComponentsEnum.TESTER_RESPONSE) && 
          issue.testerResponses && issue.testerResponses.length !== 0" [issue]="issue"
          (issueUpdated)="updateIssue($event)">
        </app-tester-response>

        <!-- Tutor's Response -->
        <app-issue-response *ngIf="this.isComponentVisible(issueComponentsEnum.TUTOR_RESPONSE) && !isIssueLoading && issue.tutorResponse" 
          [issue]="issue" [isEditing]="isTutorResponseEditing" (updateEditState)="updateTutorResponseEditState($event)"
          attributeName="tutorResponse" (issueUpdated)="updateIssue($event)">
        </app-issue-response>

        <!-- New Tutor's Response -->
        <app-new-tutor-response *ngIf="this.isComponentVisible(issueComponentsEnum.NEW_TUTOR_RESPONSE)
          && permissions.isTutorResponseEditable() && !issue.tutorResponse" [issue]="issue"
          (issueUpdated)="updateIssue($event)">
        </app-new-tutor-response>
      </div>

      <div class="column right">
        <div *ngIf="(this.isComponentVisible(issueComponentsEnum.NEW_TEAM_RESPONSE) && issue.teamResponse) ||
          (this.isComponentVisible(issueComponentsEnum.NEW_TUTOR_RESPONSE) && issue.tutorResponse) ||
          (this.isComponentVisible(issueComponentsEnum.TESTER_RESPONSE) && this.userService.currentUser.role === userRole.Student) ||
          (!this.isComponentVisible(issueComponentsEnum.TEAM_RESPONSE) && !this.isComponentVisible(issueComponentsEnum.TUTOR_RESPONSE))">

        <!-- Severity Label -->
        <app-issue-label *ngIf="this.isComponentVisible(issueComponentsEnum.SEVERITY_LABEL)" [issue]="issue"
          attributeName="severity" (issueUpdated)="updateIssue($event)"></app-issue-label>

        <!-- Bug Type Label -->
        <div *ngIf="this.isComponentVisible(issueComponentsEnum.TYPE_LABEL)">
          <mat-divider></mat-divider>
          <app-issue-label [issue]="issue" attributeName="type" (issueUpdated)="updateIssue($event)"></app-issue-label>
        </div>

        <!-- Response Label -->
        <div *ngIf="this.isComponentVisible(issueComponentsEnum.RESPONSE_LABEL)">
          <mat-divider></mat-divider>
          <app-issue-label [issue]="issue" attributeName="responseTag" (issueUpdated)="updateIssue($event)"></app-issue-label>
        </div>

        <!-- Assignee to this Issue -->
        <div *ngIf="this.isComponentVisible(issueComponentsEnum.ASSIGNEE)">
          <mat-divider></mat-divider>
          <app-assignee-component  [issue]="issue" [team]="issue.teamAssigned" (issueUpdated)="updateIssue($event)"></app-assignee-component>
        </div>

        <!-- Duplicate information -->
        <div *ngIf="this.isComponentVisible(issueComponentsEnum.DUPLICATE) &&
          (issueService.getDuplicateIssuesFor(issue) | async).length !== 0">
          <mat-divider></mat-divider>
          <app-duplicated-issues-component  [issue]="issue"></app-duplicated-issues-component>
          <br>
        </div>
        <div *ngIf="this.isComponentVisible(issueComponentsEnum.DUPLICATE) &&
          (issue.duplicateOf || (issueService.getDuplicateIssuesFor(issue) | async).length === 0)">
          <mat-divider></mat-divider>
          <app-duplicate-of-component [issue]="issue" (issueUpdated)="updateIssue($event)"></app-duplicate-of-component>
        </div>

        <!-- Faulty issue warning -->  
        <div style="margin-top: 15px; color: red" *ngIf="this.isComponentVisible(issueComponentsEnum.DUPLICATE) && 
          ((issueService.getDuplicateIssuesFor(issue) | async).length !== 0) &&
          (issue.duplicateOf || (issueService.getDuplicateIssuesFor(issue) | async).length === 0)">
            * Need your resolution. An issue cannot have both duplicated issues and duplicated status.
        </div>

        <!-- Issue To-Do list -->
        <div *ngIf="this.isComponentVisible(issueComponentsEnum.TODO_LIST)">
          <br *ngIf="issue.duplicateOf">
          <mat-divider></mat-divider>
          <app-todo-list [issue]="issue" (issueUpdated)="updateIssue($event)"></app-todo-list>
        </div>

        </div>
      </div>
    </div>

</div>
