<mat-form-field class="profile-field">
  <mat-label>Select Session</mat-label>
  <mat-select [value]="this.selectedProfile.profileName">
    <mat-option (click)="selectProfile(this.blankProfile)">None</mat-option>
    <mat-option *ngFor="let profile of profiles" (click)="selectProfile(profile)" [value]="profile.profileName">{{
      profile.profileName
    }}</mat-option>
  </mat-select>
</mat-form-field>
<input #fileInput type="file" style="display: none" accept=".json" (change)="this.fileSelected($event)" />
<button
  class="profile-input"
  type="button"
  mat-icon-button
  (click)="this.fileSelectorInitiation(fileInput)"
  disableRipple="true"
  matTooltip="Configure your custom settings"
  (mousedown)="this.animationActivated = true"
  (mouseleave)="this.animationActivated = false"
>
  <mat-icon [@triggerFileInput]="this.animationActivated ? 'pressed' : 'normal'">folder_open</mat-icon>
</button>
